body {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.dataPoint {
  padding-left: 4% !important;
}

.dataColumn {

}

.mainPageWrapper {
  display: flex;
  flex-direction: row;
}

.calculatorWrapper {
  margin: 2%;
  border: 2px solid #E3F2FD;
  border-radius: 2%;
  padding: 2%;
  flex: 1;

}

.news {
  flex: 1;
  margin: 2%;
}